.blackBg {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	background: black;
	animation: fadeOut ease 3s;
	-webkit-animation: fadeOut ease 3s;
	-moz-animation: fadeOut ease 3s;
	-o-animation: fadeOut ease 3s;
	-ms-animation: fadeOut ease 3s;
	z-index: 2;
	opacity: 0;
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-moz-keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-webkit-keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-o-keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-ms-keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.startPage {
	font-size: 2.5vw;
	color: black;
}

.startPage p {
	position: relative;
	margin-top: 30vh;
	margin-bottom: 10%;
	animation: blink 400ms alternate infinite;
	cursor: default;
	user-select: none;
}
@keyframes blink {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
.startPage span {
	user-select: none;
	cursor: default;
	position: relative;
	padding: 2.5vw;
	border-radius: 2.5vw;
	background: rgb(0, 0, 0);
	background: linear-gradient(
		15deg,
		rgba(0, 0, 0, 1) 0%,
		rgba(0, 0, 0, 1) 35%,
		rgba(176, 176, 176, 1) 100%
	);
	color: #b0b0b0;
}
a {
	text-decoration: none;
}

.blast {
	position: absolute;
	right: 10vw;
	bottom: 20px;
}
.blast img {
	width: 15vw;
}
