* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background: url("/src/img/bg.png") fixed bottom;
	background-size: cover;
	background-repeat: no-repeat;
	font-family: "Press Start 2P", cursive;
	text-align: center;
}
